@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
  margin-left: auto;
  margin-right: auto;
  padding-right: .70rem;
  padding-left: .70rem;
}
.believe{
  margin-left: 8%;
  margin-right: 8%;
  padding-right: .70rem;
  padding-left: .70rem;
}
.trans{
  transition: all 0.3s ease;
}
.hover-underline-red {
  position: relative;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.hover-underline-red::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 0; /* Start with no width */
  height: 2px;
  background-color: red;
  transition: width 0.3s ease; /* Transition the width */
}
.rotateHover:hover .rotateImage {
  transform: rotate(-12deg) scale(1.2); 
  transition: transform 0.3s ease; 
}

.hoverValues:hover .rot {
  transform: rotate(-12deg); 
  transition: transform 0.3s ease; 
}
.hoverBenefits:hover .scaleImg {
  transform: scale(1.2); 
  transition: transform 0.3s ease; 
}

.hover-underline-red:hover::before {
  width: 50%; /* Expand to 50% on hover */
}
.nav.active .hover-underline-red::before {
  width: 50%;
}
.menu-icon{
  display: none;
}
.menu-close{
  display: none;
}
.image {
  display: none;
}
.rocket{
  background: linear-gradient(180deg, #b4b2b2 0, #b4b2b2 70%, #f5f5f5);
}
@media screen and (max-width: 1030px) {
  .container{
    margin-left: 10px;
    margin-right: auto;
    padding-right: .70rem;
    padding-left: .70rem;
  }
  .menu-icon {
      display: block;
  }
  .menu-items {
      display: none;
      flex-direction: column;
      width: 100%;
  }
  .logo.open{
    display:none;
  }
  .navigation.open{
    background-color: white;
    height: 100%;
    width: 100%;
  }
  .menu-items.open {
      display: flex;
      flex-direction: column;
      color: black;
  }
.items.open{
      position: relative;
      left: 50%;
      top: 25%;
      display: flex;
      flex-direction: column;
      gap: 25px;
      text-align: center;
      transition: all 0.3s ease-in;
}
.touch{
  background-color: #001c48;
}

.menu-close.open{
  display: block;
}
.menu-icon.open{
  display: none;
}

}
@media screen and (max-width: 768px) {
  .imag{
    display: none;
  }
  .ser-one{
    width: 100%;
  }
}
